<h2 id="saveBurger">Saved Burgers</h2>

<ul id="saveBurgerList">
{{#each burgers}}
{{#unless devoured}}
{{> burgers/burger-block eaten=true}}
{{/unless}}
{{/each}}
</ul>



<h2 id="addBurger">Add a new burger</h2>
<form id="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">
    </div>

    <div class="form-group">
            <label for="devoured">Has the burger been eaten?</label><br>
            <input type="radio" name="devoured" value="1" id="eaten"> Yes it has been eaten!<br>
            <input type="radio" name="devoured" value="0" id="notEaten" checked> Saving it for later!
        </div>

        <button type="submit">Add Burger</button>
</form>


<h2 id="devBurger">Devoured Burgers</h2>

<ul id="devBurgerList">
    {{#each burgers}}
    {{#if devoured}}
    {{> burgers/burger-block eaten=false}}
    {{/if}}
    {{/each}}
</ul>


