<div class="savedBurger">

<h2>Saved Burgers</h2>

<ul>
{{#each burgers}}
{{#unless devoured}}
{{> bugers/burger/block eaten=false }}
{{/unless}}
{{/each}}
</ul>

</div>


<h2 id="addBurger">Add a new burger</h2>
<form id="create-form">

    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" name="name">

        <div class="form-group">
            <label for="devouredBurg">Has the burger been eaten?</label><br>
            <input type="radio" name="devouredBurg" value="1" id="eaten" checked> Yes it has been eaten!<br>
            <input type="radio" name="devouredBurg" value="0" id="awake"> Saving it for later!
        </div>

        <button type="submit">Add Burger</button>
    </div>
</form>

<div class="devouredBurger">

    <h2>Devoured Burgers</h2>

    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> bugers/burger/block eaten=true}}
        {{/unless}}
        {{/each}}
    </ul>

</div>